.dno {
    text-align: center
}

.a123 {
    padding: 5px;
    margin-left: 45.5%;
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 3px;
}

.contacts {
    background-color: aliceblue;
}
